.container-section-me {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  padding: 1rem;
}

.text-me {
  font-size: 20px;
  font-weight: 500;
}

.tittle-me {
  font-size: 80px;
  font-weight: 700;
}