.container-section-me {
  height: 50rem;
  margin: auto;
}

.text-me {
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 233, 161);
}

.tittle-me {
  font-size: 80px;
  font-weight: 700;
  color: rgb(17, 233, 161);
}