.container-principal-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem; 
}

.tittle-experience {
  font-size: 40px;
  font-weight: 700;
  color: rgb(17, 233, 161);
}

.ul-experience {
  display: grid;
  grid-gap: 2rem;
}

.li-experience {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 233, 161);
}

.container-information-experience {
  width: 100%;
  height: 100%;
  background-color: rgb(110, 110, 110);
}