.container-principal-aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 2rem;
}

.img-aboutMe {
  width: 100%;
  height: 100%;
  background-color: rgb(110, 110, 110);
}

.tittle-aboutMe {
  font-size: 40px;
  font-weight: 700;
  color: rgb(17, 233, 161);
}

.text-aboutMe {
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 233, 161);
}

.li-aboutMe {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(17, 233, 161);
}